<h4 class="center">ログイン</h4>

<div class="row">
    <form class="col s8 push-s2 m6 push-m3 grey lighten-4">
      <div class="row">
        <div class="input-field col s10 push-s1 top-input">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 push-s1">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 push-s1">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="center form-button">
        <%= link_to login_path, class: "waves-effect waves-light btn-small" do %>
          <i class="material-icons left">person</i>ログイン
        <% end %>
      </div>
    </form>
  </div>

  
