<ul class="row">
    <li class="col s10 push-s1">
      <div class="card-panel">
        <h5><%= link_to article.title, article, class: "link-title" %></h5>
        <p><%= article.description %></p>
      </div>
    </li>
  </ul>
