<%# トップ画面 %>
<div id="articles">
  <% if @articles %>
    <% @articles.each do |article| %>
      <%= render article %>
    <% end %>
  <% end %>
</div>

<div class="center">
  <% if @articles %>
    <%= paginate @articles %>
  <% end %>
</div>
